.quote_wrapper {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #f2ede4;
}

.quote_quote {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 200px;
}

.quote_quote h1 {
    font-family: 'CormorantGaramond';
    font-weight: 100;
    font-size: 3.5em;
    font-style: italic;
    opacity: 0.7;

    text-align: center;

    max-width: 850px;
}

.quote_quote p {
    font-family: 'Jost';
    font-size: 1.2em;
    opacity: 0.6;

    margin-top: 20px;

    letter-spacing: 3px;
}

.quote_quote img {
    width: 80px;
    opacity: 0.5;
}