.text_field_wrapper {
    position: relative;
    display: flex; 
    flex-direction: column;
}

.text_field_wrapper > input {
    box-sizing: border-box;
    width: 100%;
    padding: 45px 60px; 
    font-family: 'Jost';
    font-size: 1.1em;
    background-color: #f2ede4;
    border: 2px solid #c9bba8;
}

.tf_short {
    height: 40px; 
}

.tf_long {
    height: 120px;
}

.text_field_wrapper > label {
    position: absolute;
    font-family: 'Jost';
    font-size: 0.9em;
    top: 10px;
    opacity: 0.5;
    letter-spacing: 1.2px;
    left: 60px;
    z-index: 1;
}